div.d-flex.rounded-4.p-4.bg-dark.mb-5.z-1.min-vh-50.w-100.flex-column.gap-4
  -
    const products = [
      {
        id: '1',
        createdAt: new Date().toLocaleDateString('pt-BR'),
        name: 'Projeto App Design',
        updates: [
          {
            id: '1',
            createdAt: new Date().toLocaleDateString('pt-BR'),
            updatedAt: new Date().toLocaleDateString('pt-BR'),
            title: 'Task 1',
            body: 'Nova tarefa',
            status: 'IN_PROGRESS',
            version: '1.0.0',
            asset: 'https://placehold.co/450x250',
            updateSteps: [
              {
                id: '1',
                createdAt: new Date().toLocaleDateString('pt-BR'),
                updatedAt: new Date().toLocaleDateString('pt-BR'),
                name: 'Step A',
                description: 'Step A',
              },
              {
                id: '2',
                createdAt: new Date().toLocaleDateString('pt-BR'),
                updatedAt: new Date().toLocaleDateString('pt-BR'),
                name: 'Step B',
                description: 'Step B',
              }
            ]
          },
          {
            id: '2',
            createdAt: new Date().toLocaleDateString('pt-BR'),
            updatedAt: new Date().toLocaleDateString('pt-BR'),
            title: 'Task 1',
            body: 'Nova tarefa',
            status: 'IN_PROGRESS',
            version: '1.0.0',
            asset: 'https://placehold.co/450x250',
            updateSteps: [
              {
                id: '1',
                createdAt: new Date().toLocaleDateString('pt-BR'),
                updatedAt: new Date().toLocaleDateString('pt-BR'),
                name: 'Step A',
                description: 'Step A',
              },
              {
                id: '2',
                createdAt: new Date().toLocaleDateString('pt-BR'),
                updatedAt: new Date().toLocaleDateString('pt-BR'),
                name: 'Step B',
                description: 'Step B',
              }
            ]
          }
        ]
      },
      {
        id: '2',
        createdAt: new Date().toLocaleDateString('pt-BR'),
        name: 'Projeto C#',
        updates: [
          {
            id: '1',
            createdAt: new Date().toLocaleDateString('pt-BR'),
            updatedAt: new Date().toLocaleDateString('pt-BR'),
            title: 'Task 1',
            body: 'Nova tarefa',
            status: 'IN_PROGRESS',
            version: '1.0.0',
            asset: 'https://placehold.co/450x250',
            updateSteps: [
              {
                id: '1',
                createdAt: new Date().toLocaleDateString('pt-BR'),
                updatedAt: new Date().toLocaleDateString('pt-BR'),
                name: 'Step A',
                description: 'Step A',
              }
            ]
          }
        ]
      }
    ];
  each p in products
    h2= p.name
    span= p.createdAt
    h3 Atualizações
    section
    each u in p.updates
      div
        span= u.status
        span= `v${u.version}`
      span= u.updatedAt
      span= u.createdAt
      img(src=`${u.asset}` alt=`${u.title}`)
      h4= u.title
      p= u.body
      each s in u.updateSteps
        ul
          li= s.name
            span= s.createdAt
            span= s.updatedAt
            p= s.description
